<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <h2>Register</h2>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label for="name">Username:</label>
        <input type="text" id="name" th:field="*{name}" required/>
        <br/>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" />
        <br/>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" />
        <br/>
		<label for="dob">Date of Birth</label>
		<input type="date" th:field="*{dob}" id="dob" name="DateofBirth">
        <button type="submit">submit</button>
    </form>
</body>
</html>
