<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link rel="StyleSheet" href="hello.css" />
  </head>
  <body>
    <h1 class="con">Welcome to Customer Feedback Portal</h1>
    <main>
      <nav class="con">
        <ul class="nav">
          <li>Home</li>
          <li>About</li>
          <li>Form</li>
          <li>Contact</li>

          <a href="/login"><button class="btn">Login</button></a>
          <a href="/register"><button class="btn">Register</button></a>
        </ul>
      </nav>
    </main>

    <footer>
      <p class="text">This page is for Making CMS system using Spring Boot</p>

      <p class="aa">@copyright</p>
    </footer>
  </body>
</html>
