<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<h3>login</h3>
	<form action="#" th:action="@{/login/adduser}" th:object="${user}" enctype="multipart/form-data" method="post">
		<span th:if="${error}" th:text="${error}"></span>
		<label for="username">Name</label>
		<input type="text" th:field="*{username}" id="username" placeholder="Username">
		<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

		
		<label for="password">Password</label>
		<input type="password" th:field="*{password}" id="password" placeholder="Password">
		<span th:if="${#fields.hasErrors('password')}" th:errors="password"></span>
		
		<input type="submit" value="Login">
	</form>
</body>
</html>