<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="/style.css" />
</head>
<body>
	<h3>login</h3>
	<form action="#" th:action="@{/login/adduser}" th:object="${user}" enctype="multipart/form-data" method="post">
		<label for="name">Name</label>
		<input type="text" th:field="*{name}" id="name" placeholder="Name">
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

		
		<label for="password">Password</label>
		<input type="password" th:field="*{password}" id="password" placeholder="Password">
		<span th:if="${#fields.hasErrors('password')}" th:errors="password"></span>
		
		<input type="submit" value="AddUser">
	</form>
</body>
</html>